html, body{ 
  overscroll-behavior-y: contain; 
  overflow-wrap: break-word;
  word-break: keep-all;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  color: inherit;
}

.ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.noselect { user-select: none; }
.noscrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.noscrollbar::-webkit-scrollbar { /* WebKit */
  display: none;
}
.grow{ flex: 1; }